<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Error"
      internalLogFile="logs/nlog-internal.log">
  <variable name="logDirectory" value="${basedir}/logs" />
  <variable name="CleanLoggerName" value="${replace:searchFor=WebcamMonitor.:replaceWith=:regex=false:inner=${logger}}" />
  <variable name="ExceptionLayout" value="${onexception:inner=${newline}${newline}[v${assembly-version}] ${exception:format=ToString}${newline}}" />
  <variable name="FileLayout" value="${date:format=yy-M-d HH\:mm\:ss.f}|${level:uppercase=true}|${CleanLoggerName}|${message}${ExceptionLayout}" />
  <variable name="ConsoleLayout" value="[${level}] [${threadid}] [${CleanLoggerName}]: ${message} ${ExceptionLayout}" />
  <targets>
    <target name="fileFull"
            xsi:type="File"
            fileName="${logDirectory}/full.log"
            layout="${FileLayout}"
            archiveFileName="${logDirectory}/archive.full.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false" />

    <target name="jsonFile" xsi:type="File" fileName="${logDirectory}/JsonFull.log">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="message" layout="${message}" />
        <attribute name='exception' layout='${exception}' />
        <attribute name="eventProperties" encode="false">
          <layout xsi:type="JsonLayout" includeAllProperties="true"  maxRecursionLimit="2" />
        </attribute>
      </layout>
    </target>

    <target name="Console" xsi:type="ColoredConsole" layout="${ConsoleLayout}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="fileFull" />
    <logger name="*" minlevel="Trace" writeTo="jsonFile" />
    <logger name="*" minlevel="Info" writeTo="Console" />
  </rules>
</nlog>